<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include("_header") %>
    <main style="margin: 1em">
      <h1 class = "featured-title">Featured Deals right now!</h1>

  <section class = "featured-container">
        <div class = "featured-products-1"></div>
        <thead >
          <%for (let product of products) {%>
            <%if (product.is_featured) {%>
            <div>
              <img class="featured-image" src="<%= product.photo_1 %>" alt="Card image cap">
              <tr>
                <th><%= product.name %></th>
                <th><p>$<%= product.price %></p></th>
                <th><form method = "GET" action = "/users/product/<%=product.id %>"><button type="submit" class="btn btn-primary">More Info</button></form></th>
                <%if (user_email === "ally@123.com") { %>
                  <th><form method = "POST" action = "/admin/<%=product.id%>/delete"><button type="submit" class="btn btn-primary">Delete!</button></form></th>
                  <th><form method = "POST" action = "/admin/<%=product.id%>/sold"><button type="submit" class="btn btn-primary">Sold!</button></form></th>
                  <% } else {%>
                    <th><form method = "POST" action = "/users/product/<%=product.id%>/favorites"><button type="submit" class="btn btn-primary">Favourite This!</button></form></th>
                    <th scope="col"><form class = "form" method = "GET" action = "/users/product/<%=product.id%>/message"><button class = 'btn-message'>Contact Seller</button></form></th>
                  <% } %>
                </tr>
              </div>
              <% } %>
            <%}%>
              <h2>Not A Featured Deal</h2>
            <%for (let product of products) {%>
              <%if (!product.is_featured) {%>
              <div>
                <img class="featured-image" src="<%= product.photo_1 %>" alt="Card image cap">
                <tr>
                  <th><%= product.name %></th>
                  <th><p>$<%= product.price %></p>
                    <th><form method = "GET" action = "/users/product/<%=product.id%>"><button type="submit" class="btn btn-primary">More Info</button></form></th>
                    <%if (user_email === "ally@123.com") { %>
                      <th><form method = "POST" action = "/admin/<%=product.id%>/delete"><button type="submit" class="btn btn-primary">Delete!</button></form></th>
                      <th><form method = "POST" action = "/admin/<%=product.id%>/sold"><button type="submit" class="btn btn-primary">Sold!</button></form></th>
                      <% } else {%>
                        <th><form method = "POST" action = "/users/product/<%=product.id%>/favorites"><button type="submit" class="btn btn-primary">Favourite This!</button></form></th>
                        <th scope="col"><form class = "form" method = "GET" action = "/users/product/<%=product.id%>/message"><button class = 'btn-message'>Contact Seller</button></form></th>
                      <% } %>
                  </tr>
                </div>
                <% } %>
              <%}%>

        </thead>
        <tbody>
        </tbody>
      </div>
    </section>
  </body>
</html>
 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
