<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include("_header") %>
    <main style="margin: 1em">
      <h1 class = "product-title"><%= product.name %></h1>
      <section class = "product-container">
        <thead >
          <div class = "product-info">
            <label> Product Description:</label>
            <p><%= product.description %></p>
            <p> <b>$<%= product.price %></b></p>
            <p> <b>Seller ID: <%= product.seller_id %></b></p>
          <tr>
            <img class = "featured-img" src = '<%= product.photo_1 %>'>
            <table class = "cta-buttons">
              <%if (user_email === "ally@123.com") { %>
                <th><form method = "POST" action = "/admin/<%=product.id%>/delete"><button type="submit" class="btn btn-primary">Delete!</button></form></th>
                <th><form method = "POST" action = "/admin/<%=product.id%>/sold"><button type="submit" class="btn btn-primary">Sold!</button></form></th>
                <% } else {%>
                  <th><form method = "POST" action = "/users/product/<%=product.id%>/favorites"><button type="submit" class="btn btn-primary">Favourite This!</button></form></th>
                  <th scope="col"><form class = "form" method = "GET" action = "/new_message"><button class = 'btn-message'>Contact Seller</button></form></th>
                <% } %>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </div>
    </section>
  </body>
</html>
